<div class="my-3">
<h3>Add a ToDo</h3>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Title" class="form-label">Todo Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" aria-describedby="emailHelp">
    
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc"[(ngModel)]="desc">
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
  </form>
</div>